
@{
    ViewBag.Title = "Index";
}

<h2>Sección de Usuarios registrados.</h2>

<div>
    <p><a href="@Url.Action("Votar")" class="btn btn-primary btn-lg">Votar Disco</a></p>
</div>
<div>

    <p><a href="@Url.Action("Login", "Auth")" class="btn btn-primary btn-lg">Logout</a></p>
    <p>Recuerda cerrar el navegador tras pulsar logout para borrar la sesión por seguridad. Sino tu usuario y contraseña podrian mantenerse cargados.</p>
</div>