
@{
    ViewBag.Title = "Votar";
}
<html>
<head>
    <link href="~/Content/votar.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Discos</title>
</head>
<body>
    <p id="userId">@ViewBag.idUsuario</p>
    <div id="content"></div>
    <script src="@Url.Content("~/Scripts/jsx/votar.jsx")"></script>
</body>
</html>