
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery/columnChart.js"></script>
<div id="columnchart_values"></div>

