@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>
<p>Página web creada en la asignatura de Cliente del ciclo superior de Desarrollo de Aplicaciones Web.</p>
<p>En esta página se accede a SQLServer a una base de datos de Discos de la cuál extraemos las tablas de Discos, Interpretes y creamos y listamos Usuarios.</p>
<p>Se usa un sistema de Login y registro de usuarios con lo que así se protege no sólo las zonas por roles o sesiones sino también el acceso a la base de datos.</p>
