@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>
<address>
    Santa Cruz de Tenerife<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>
    <strong>Javier Gracia</strong><br/>
    <strong>Email:</strong>   <a href="mailto:neodreamer@gmail.com">neodreamer@gmail.com</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/javigracia">@@javigracia</a>

    <br/>
    <strong>Cristo Daniel Cabello</strong><br/>
    <strong>Email:</strong> <a href="mailto:dnilismo23@gmail.com">danilismo23@gmail.com</a>
</address>